<div class="container">
  <br/>
  <div class="section card-panel grey lighten-5">
    <form class="" id="add_job">
      <div class="row">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="(eg. Software Engineer)" id="job_title" name="job_title" type="text" class="validate" required>
            <label for="job_title">Job Title</label>
          </div>
          <div class="input-field col s6">
            <input id="company" type="text" class="validate" name="company_name" required>
            <label for="company">Company</label>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="invalid" data-success="valid">Email</label>
          </div>
        </div>
      -->
      <div class="row">
        <div class="input-field col s12">
          <textarea id="jdtextarea" class="materialize-textarea" length="5000" name="description" required></textarea>
          <label for="jdtextarea">Job Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select name="minimum_score" required>
            <option value="0" disabled selected>Select Score</option>
            <option value="10">10%</option>
            <option value="20">20%</option>
            <option value="30">30%</option>
            <option value="40">40%</option>
            <option value="50">50%</option>
            <option value="60">60%</option>
            <option value="70">70%</option>
            <option value="80">80%</option>
            <option value="90">90%</option>
          </select>
          <label>Minimum Score</label>
        </div>
      </div>
    </div>
    <div class="status" style="text-align:center;">
    </div>
    <div class="error" style="text-align:center;color:red">
    </div>
    <button class="btn waves-effect waves-light light-blue darken-2" type="submit" value="Submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
</div>

