<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">loyalty</i></h2>
                <h5 class="center">Upload Resume</h5>

                <form action="#">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
