<div class="container">
  <div class="section">
    <div class="row">
      <h4 class="center brown-text"><i class="material-icons">flash_on</i></h4>

      <form action="#">
        <table class="responsive-table">
          <thead>
            <tr>
              <th data-field="applicant">Company</th>
              <th data-field="Score">Role</th>
              <th data-field="view">Description</th>
              <th data-field="select_user">Select</th>
            </tr>
          </thead>
          <tbody>
            <div id="list-applicants">
            </div>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function($) {
  url = 'api/job';
  $.ajax({
    type: "GET",
    url: url,
          success: function(data){
            jobs = JSON.parse(data);
            jobs.forEach(function(job) {
              $('#list-applicants').innerHTML += '<tr><td>'+job['company_name']+'</td><td>'+job['job_title']+'</td><td>'+job['description']+'</td><td><p><input name="group1" type="radio" id="selectjob'+job['user_id']+'" /><label for="selectjob'+job['user_id']+'"></label></p></td></tr>';
            });
          },
          error: function(data){
          }
        });

});

</script>
